<div fxLayout="row wrap" class="animate__animated animate__fadeIn">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="toolbarBack">
          <mat-card-title>Onboarding</mat-card-title>
          <span></span>
          <span class="example-spacer"></span>
          <span>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card-content>
          <app-steeper-content ></app-steeper-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>
