<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="toolbarBack">
          <mat-card-title>Catálogo de Permiso por perfil</mat-card-title>
          <span></span>
          <span class="example-spacer"></span>
          <span>
            <button mat-icon-button (click)="descargarExcel()" matTooltip='Descargar'>
              <mat-icon>cloud_download</mat-icon>
            </button>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap.xs="10px" fxLayoutGap="10px">
          <form [formGroup]="forma" id="formaPantallaPerfil">
            <mat-form-field fxFlex.xs="grow" fxFlex="auto" appearance="outline">
              <input matInput placeholder="Perfiles" [matAutocomplete]="auto" formControlName="perfilDescripcion"
                (input)="buscar($event)">
              <mat-icon matPrefix>search</mat-icon>
              <div matSuffix style="display:flex">
                <mat-icon (click)="limpiarSeleccion()" style="cursor:pointer" matTooltip='Limpiar'>clear</mat-icon>
                <mat-icon (click)="nuevoRegistro()" style="cursor:pointer" matTooltip='Abrir catalogo'>add</mat-icon>
              </div>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tipoPerfilSeleccionado($event.option.value)">
                <mat-option *ngFor="let e of modulosSelect | filtro:textoBuscar:'descripcion'" [value]="e">
                  <span>{{e.codigo}} - {{e.descripcion}}</span>
                </mat-option>
              </mat-autocomplete>
              <mat-error>

              </mat-error>
            </mat-form-field>
          </form>
          <div fxFlex.xs="grow" fxFlex="auto">
            <mat-form-field fxFlex="auto" appearance="outline">
              <mat-label>Filtrar</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <mat-icon matSuffix (click)="limpiarFiltro()" style="cursor:pointer" matTooltip="Limpiar">clear</mat-icon>
              <input matInput #filtro (keyup)="filtrar($event.target.value)"
                placeholder="Buscar por: Código, Descripción" />
            </mat-form-field>

          </div>
        </div>
        <div class="responsive-table">
          <mat-table #table [dataSource]="fuenteDatos" class="animate__animated animate__fadeIn">
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef class="contenido-centrado"> Código </mat-header-cell>
              <mat-cell *matCellDef="let row" class="contenido-centrado">
                <span class="mobile-label">Código: </span>
                {{row.codigo}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef class="contenido-centrado"> Descripción </mat-header-cell>
              <mat-cell *matCellDef="let row" class="contenido-centrado">
                <span class="mobile-label">Descripción: </span>
                {{row.descripcion}}
              </mat-cell>
              <ng-container matColumnDef="descripcionIngles">
                <mat-header-cell *matHeaderCellDef class="contenido-centrado"> Descripción Ingles </mat-header-cell>
                <mat-cell *matCellDef="let row" class="contenido-centrado">
                  <span class="mobile-label">Descripción Ingles: </span>
                  {{row.descripcionIngles}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="icono">
                <mat-header-cell *matHeaderCellDef class="contenido-centrado"> Icono </mat-header-cell>
                <mat-cell *matCellDef="let row" class="contenido-centrado">
                  <span class="mobile-label">Icono: </span>
                  <mat-icon style="cursor:pointer">{{row.icono}}</mat-icon>
                </mat-cell>
              </ng-container>
            </ng-container>
            <ng-container matColumnDef="asignacion">
              <mat-header-cell *matHeaderCellDef class="contenido-centrado"> Asignar </mat-header-cell>
              <mat-cell *matCellDef="let row" class="contenido-centrado">
                <span class="mobile-label">Asignar: </span>
                <mat-checkbox [checked]="modoAsignada(row.id)" (click)="$event.stopPropagation()"
                  (change)="cambiarEstado(chk.checked, row.id)" #chk>
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasMostradas;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
          </mat-paginator>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
