.rojo {
    background-color: red !important;
}

.amarillo {
    background-color: yellow !important;
}

.naranja {
    background-color: orange !important;
}

.verde {
    background-color: rgb(18, 228, 18) !important;;
}